<footer class="footer">
  <div class="container">
    <div>
      <h4>About MN Store</h4>
      <p>Your one-stop shop for the latest trends in Gujranwala. We are committed to providing the best products and services.</p>
    </div>
    <div>
      <h4>Quick Links</h4>
      <a href="index.html">Home</a>
      <a href="products.html">All Products</a>
      <a href="about.html">About Us</a>
    </div>
    <div>
      <h4>Follow Us</h4>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
    </div>
  </div>
</footer>